<!DOCTYPE html>
<html>
<head>
	<title>Deals Finder™</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<nav>
		<a href="home">Home</a>
	</nav>
	<h1>Welcome to Deals Finder™!</h1>
	<p>Create a free account in less than a minute.</p>
	<form action="/create_shopper" method="GET">
		<input type="text" name="First_Name" placeholder="first name"><br><br>
		<input type="text" name="Last_Name" placeholder="last name"><br><br>
		<input type="text" name="Email_Address" placeholder="email address"><br><br>
		<input type="text" name="DF_Password" placeholder="deals finder password"><br><br>
		<button type="sumbit">Create Account</button>
	</form>
</body>
</html>