<!DOCTYPE html>
<html>
<head>
	<title>Deals Finder™</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<nav>
		<a href="home">Home</a>
	</nav>
	<h1>Welcome to Deals Finder™!</h1>
	<p>Please type in a city to search for deals.</p>
	<form action="/search_results" method="GET">
		<input type="text" name="City" placeholder="type city here">
		<button type="sumbit">Find Deals!</button>
	</form>
</body>
</html>